#chart-area {
	margin-left: auto;
	margin-right: auto;
	display: block;
  margin-top: 48px;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

#explainer {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

#counties {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hoverNumber circle {
  fill: #1492ff;
}

.hoverNumber text {
  font-size: 12px;
}

.tooltip, .tooltip-likes {
  stroke: #000;
}


